<ion-content>
  <ion-grid style="background-color: #AB95F9;">
    <ion-row class="header">
      <ion-col class="navbar ion-padding-horizontal" size="12">
        <img src="assets//logo.svg" alt="brand logo">
      </ion-col>

      <ion-col class="ion-text-center ion-padding-horizontal">


        <h1 class="hero-headline">Discover the magic of our surprise box</h1><br>
        <p class="hero-description">Unleash your child's curiosity with our educational subscription box filled with
          fun and learning.</p>

        <div>
          <button class="button">Subscribe Now</button>
        </div>

        <div style="margin: 100px 0;">
          <img class="w-full" src="assets/home-hero-section.svg" alt="" srcset="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="layout">
    <ion-row class=" ion-padding-horizontal">

      <ion-col class="ion-text-center">
        <h4 class="tag-line">Discover</h4>
        <h1 class="heading">How It Works: Subscribe and Receive Your Surprise Box</h1>
        <p class="text">Subscribe to our surprise subscription box and give your child the gift of learning. Each month,
          we curate a box filled with educational materials tailored to your child's age and interests.</p>
      </ion-col>
      
    </ion-row>
  </ion-grid>


</ion-content>