<ion-content>
  <ion-grid style="background-color: #ab95f9">
    <ion-row class="header">
      <ion-col size="12">
        <app-header></app-header>
      </ion-col>

      <ion-col class="ion-text-center ion-padding-horizontal">
        <h1 class="hero-headline">Discover the magic of our surprise box</h1>
        <br />
        <p class="hero-description">
          Unleash your child's curiosity with our educational subscription box
          filled with fun and learning.
        </p>

        <app-subscribe-button
          [buttonText]="'Subscribe Now'"
        ></app-subscribe-button>

        <div style="margin: 100px 0">
          <img
            class="w-full"
            src="assets/home-hero-section.svg"
            alt=""
            srcset=""
          />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="content ion-padding-horizontal">
    <ion-grid class="layout">
      <ion-row>
        <ion-col class="ion-text-center">
          <h4 class="tag-line">Discover</h4>
          <h1 class="heading">
            How It Works: Subscribe and Receive Your Surprise Box
          </h1>
          <p class="text">
            Subscribe to our surprise subscription box and give your child the
            gift of learning. Each month, we curate a box filled with
            educational materials tailored to your child's age and interests.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4" *ngFor="let item of cardData">
          <app-card [data]="item"></app-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="subscribe-button">
      <app-subscribe-button
        [buttonText]="'Subscribe Now'"
      ></app-subscribe-button>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
