<ion-footer class="footer">
  <div class="content">
    <h2>Logo</h2>

    <ion-list lines="none">
      <ion-item class="menu-item">
        <ion-label>Link One</ion-label>
      </ion-item>
      <ion-item class="menu-item">
        <ion-label>Link Two</ion-label>
      </ion-item>
      <ion-item class="menu-item">
        <ion-label>Link Three</ion-label>
      </ion-item>
      <ion-item class="menu-item">
        <ion-label>Link Four</ion-label>
      </ion-item>
      <ion-item class="menu-item">
        <ion-label>Link Five</ion-label>
      </ion-item>
    </ion-list>
    <br />
    <br />

    <div>
      <ion-label>Subscribe</ion-label>
      <ion-list lines="none">
        <div>
          <ion-input
            class="input"
            fill="outline"
            placeholder="Enter your email"
          ></ion-input>
        </div>
        <div>
          <button class="button">Subscribe</button>
        </div>
      </ion-list>
      <ion-list>
        <p class="desc">
          By subscribing you agree to with our <span>Privacy Policy</span>
        </p>
      </ion-list>
    </div>
  </div>
  <ion-item-divider> </ion-item-divider>

  <br />
  <ion-row class="ion-justify-content-between">
    <ion-col size="12" size-md="auto">
      <ion-row lines="none" style="gap: 24px">
        <ion-col size="12" size="auto">
          <ion-label class="item">Privacy Policy</ion-label>
        </ion-col>
        <ion-col size="12" size="auto">
          <ion-label class="item">Terms of Service</ion-label>
        </ion-col>
        <ion-col size="12" size="auto">
          <ion-label class="item">Cookies Settings</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="12" size-md="auto">
      <ion-label>© 2023 Relume. All rights reserved.</ion-label>
    </ion-col>
  </ion-row>
</ion-footer>
